doctype html
html
  head
    title Services Montréal
    meta(charset="utf-8")
    script(src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="../javascripts/script.js")
    script(src="../javascripts/modification.js")
  body
    h1 Services de la Ville de Montréal
    div#rechercheParNom
      fieldset 
        legend Recherche des installations par le nom de l'arrondissement:
        label Nom arrondissement 
        input#recherche(type='text')
        p#aa
        button#rechercheInstallation.ui-button.ui-corner-all(type='submit') Afficher
    div#rechercheDansListe
      fieldset 
        legend Recherche des installations dans la liste deroulante
        p 
          select#listeinstallations
            option(value='choisir_installation') Choisir un nom de l'installation
    div#login
      p
      if user
        p#userName Bonjour #{user.username}
        p
        div#modification
          fieldset
            legend Modification des istallations
            label ID BD
            input#modif(type='text')
            p
            button#rechercheDonnees.ui-button.ui-corner-all(type='submit') Rechercher
            p
            div#paramModif
              div#paramGlisade
                table#tGlissade
                  thead
                    tr
                      th Nom Installation
                      th Nom Arrondissement
                      th Cle
                      th Date
                      th Ouvert
                      th Deblayé
                      th Condition
                  tbody#donneesGlissade
                    tr
                    td.nodata
              div#paramPatinoire
                table#tPatinoire
                  thead
                    tr
                      th Nom Installation
                      th Nom Arrondissement
                      th Cle
                      th Date
                      th Ouvert
                      th Deblayé
                      th Arrosé
                      th Resurfacé
                      th Condition
                  tbody#donneesPatinoire
                    tr
                    td.nodata
              div#paramPiscine
                table#tPicsine
                  thead
                    tr
                      th ID_UEV
                      th TYPE
                      th NOM
                      th ARRONDISSE
                      th ADRESSE
                      th PROPRIETE
                      th GESTION
                      th POINT_X
                      th POINT_Y
                      th EQUIPEME
                      th LONG
                      th LAT
                  tbody#donneesPiscine
                    tr
                    td.nodata
            button#modifInstallation.ui-button.ui-corner-all(type='submit') Modifier
            button#supprimerInstallation.ui-button.ui-corner-all(type='submit') Supprimer  
            p
            p#message
      else
        a#loginLink(href='/twitter/login') Authentication avec Twitter
    hr
    div#affichage
      div#infoinst
      div#listeinst
        table#t1
          thead
            tr
              th ID BD
              th Nom Installation
              th Nom Arrondissement
          tbody#donnees    
            tr
            td.nodata 
