doctype html
html
  head
    title Formulaire
    meta(charset="utf-8")
    script(src="https://code.jquery.com/jquery-1.12.4.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    link(rel='stylesheet',href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="/javascripts/script.js")
  body
    h1= ServicesdelavilledeMontréal
    p Welcome to #{title}
    p Recherche de l'arrondissement:
    input#recherche(type='text')
    p 
    button#rechercheInstallation.ui-button.ui-corner-all(type='submit') Afficher

