body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
} 

a {
  color: #00B7FF;
}

#listeinst {
    display: none;
}

#infoinst {
    display: none;
}

#paramPiscine {
    display: none;
}

#paramPatinoire {
    display: none;
}

#paramGlisade {
    display: none;
}

#modifInstallation {
    display: none;
}

#supprimerInstallation {
    display: none;
}

table#t1 {
    border-collapse: collapse;
    width: 100%;
    padding: 15px;
}

table, th, td {
    border: 1px solid black;
}

.tableInst td.shrink td.expand {
    border-collapse: collapse;
    width: 100%;
    padding: 15px;
}

table#tGlissade, td {
}

